<h1>Contacts:</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><%= contact.name %> |<%= contact.number%>| </li>
      <ul>
        <li><%= link_to "Edit", edit_contact_path(contact.id) %> | <%= link_to "Delete", contact_path(contact.id), data: { :confirm => "are you sure", :method => "delete" } %> </li>
      </ul>
  <% end %>
</ul>


<%= link_to "New Contact", new_contact_path %>
